<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<title>#$title#</title>
<style type="text/css">
	#&./templates/style.css#
</style>

#$header#
</head>
<body style="background-color: #000000;">
	<div style="position: absolute; top: 2px; right: 2px;"> Test </div>
	<table align="center" valign="middle" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td>
				#@menue#
			</td>
		</tr>
		<tr>
			<td style="padding-top: 30px;" valign="top">
				<table style="" border="0" cellpadding="0" cellspacing="0">
					</tr>
					<tr>
						<td width="18">
							<img src="images/cornerLeftTop.gif" border="0" height="18" width="18">
						</td>
						<td width="160">
							<img src="images/marginTopLeft.gif" border="0" height="18" width="160">
						</td>
						<td>
							<img src="images/marginTopMiddle.gif" border="0" height="18" width="100%">
						</td>
						<td width="18">
							<img src="images/marginTopRight.gif" border="0" height="18" width="160">
						</td>
						<td width="18">
							<img src="images/cornerRightTop.gif"border="0" height="18" width="18">
						</td>
					</tr>
					<tr>
						<td style="background-image: url(images/marginLeftMiddle.gif);"	height="100%">
							<table border="0" cellpadding="0" cellspacing="0" height="100%" width="18">
								<tr>
									<td style="background-image: url(images/marginLeftTop.gif);" height="131" width="18"></td>
								</tr>
								<tr>
									<td style="height=100%;"></td>
								</tr>
								<tr>
									<td style="background-image: url(images/marginLeftBottom.gif);" height="131" width="18"></td>
								</tr>
							</table>
						</td>
						<td colspan="3" style="padding: 7px;" background="images/background.gif" valign="top">
							<div align="center">
								<span style="font-family: Agency FB; color: rgb(150, 207, 235); font-size: 30pt; font-weight: normal;">
									#$bigtitle#<br>
								</span>
								#@message#
							</div>
							<div align="center">
								#$content#
							</div>
						</td>
						<td style="background-image: url(images/marginRightMiddle.gif);">
							<table border="0" cellpadding="0" cellspacing="0" height="100%" width="18">
								<tr>
									<td style="background-image: url(images/marginRightTop.gif);" height="131" width="18"></td>
								</tr>
								<tr>
									<td height="100%"></td>
								</tr>
								<tr>
									<td style="background-image: url(images/marginRightBottom.gif);" height="131" width="18"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td width="18">
							<img src="images/cornerLeftBottom.gif" border="0" height="18" width="18">
						</td>
						<td width="160">
							<img src="images/marginBottomLeft.gif" border="0" height="18" width="160">
						</td>
						<td>
							<img src="images/marginBottomMiddle.gif" border="0" height="18" width="100%">
						</td>
						<td width="160">
							<img src="images/marginBottomRight.gif" border="0" height="18" width="160">
						</td>
						<td width="18">
							<img src="images/cornerRightBottom.gif"border="0" height="18" width="18">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>
