<!--
*
{

	scrollbar-arrow-color: #96CFEB;
	scrollbar-track-color: #161235;
	scrollbar-face-color: #161235;
	scrollbar-shadow-color: #96CFEB;
	scrollbar-highlight-color: #96CFEB;
	scrollbar-darkshadow-color: #161235;
	scrollbar-3dlight-color: #161235;
	
	font-family: Arial Narrow;
	font-size: 15px;
	font-weight: bold;
	color: #96CFEB;
}
a:hover
{
	color: #F7EF52;
}
input
{
	border: 1 px solid #96CFEB;
	color: #96CFEB;
	font-family: Arial Narrow;
	font-weight: bold;
	font-size: 14px;
	background-color: transparent;
	padding-left: 3px;
	padding-right: 3px;
}
select
{
	border: 1 px solid #96CFEB;
	color: #96CFEB;
	font-family: Arial Narrow;
	font-weight: bold;
	background-color: #161135;
}
.line
{
	width: 90%;
	height: 1px;
}
.smallerText
{
	font-size: 13px;
}


label {
display:block;
width:125px;
float:left;
}
-->